In [68]:
import pandas as pd

#### Import the file with books and authors

In [69]:
df_books = pd.read_csv('goodreads-books.csv') 
df_books.head()

,Unnamed: 0,nyt_name,good_reads_book,author,author_link,book_rating
0,0,TICK TOCK,"\nTick Tock (Michael Bennett, #4)\n",James Patterson,https://www.goodreads.com/author/show/3780.Jam...,"4.09 avg rating — 29,129 ratings"
1,1,THE GIRL WITH THE DRAGON TATTOO,"\nThe Girl with the Dragon Tattoo (Millennium,...",Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.16 avg rating — 3,108,073 ratings"
2,2,THE GIRL WHO PLAYED WITH FIRE,"\nThe Girl Who Played with Fire (Millennium, #...",Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.25 avg rating — 909,723 ratings"
3,3,THE GIRL WHO KICKED THE HORNET’S NEST,\nThe Girl Who Kicked the Hornet's Nest (Mille...,Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.23 avg rating — 725,317 ratings"
4,4,WATER FOR ELEPHANTS,\nWater for Elephants\n,Sara Gruen,https://www.goodreads.com/author/show/24556.Sa...,"4.11 avg rating — 1,586,438 ratings"

In [70]:
# stripping line break character from good_reads_book 

df_books['good_reads_book']= df_books['good_reads_book'].str.strip('\n')
# df_books.drop_duplicates(inplace=True)

,Unnamed: 0,nyt_name,good_reads_book,author,author_link,book_rating
0,0,TICK TOCK,"Tick Tock (Michael Bennett, #4)",James Patterson,https://www.goodreads.com/author/show/3780.Jam...,"4.09 avg rating — 29,129 ratings"
1,1,THE GIRL WITH THE DRAGON TATTOO,"The Girl with the Dragon Tattoo (Millennium, #1)",Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.16 avg rating — 3,108,073 ratings"
2,2,THE GIRL WHO PLAYED WITH FIRE,"The Girl Who Played with Fire (Millennium, #2)",Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.25 avg rating — 909,723 ratings"
3,3,THE GIRL WHO KICKED THE HORNET’S NEST,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.23 avg rating — 725,317 ratings"
4,4,WATER FOR ELEPHANTS,Water for Elephants,Sara Gruen,https://www.goodreads.com/author/show/24556.Sa...,"4.11 avg rating — 1,586,438 ratings"
...,...,...,...,...,...,...
2630,2434,LOVE REDESIGNED,"Love Redesigned (Lakefront Billionaires, #1)",Lauren Asher,https://www.goodreads.com/author/show/19561164...,"4.18 avg rating — 27,135 ratings"
2631,2435,THE OLYMPIAN AFFAIR,"The Olympian Affair (The Cinder Spires, #2)",Jim Butcher,https://www.goodreads.com/author/show/10746.Ji...,"4.46 avg rating — 1,955 ratings"
2632,2436,SYSTEM COLLAPSE,"System Collapse (The Murderbot Diaries, #7)",Martha Wells,https://www.goodreads.com/author/show/87305.Ma...,"4.30 avg rating — 12,930 ratings"
2633,2437,THE LITTLE LIAR,The Little Liar,Mitch Albom,https://www.goodreads.com/author/show/2331.Mit...,"4.66 avg rating — 3,050 ratings"
2634,2438,THE NARROW ROAD BETWEEN DESIRES,The Narrow Road Between Desires (The Kingkille...,Patrick Rothfuss,https://www.goodreads.com/author/show/108424.P...,"4.08 avg rating — 4,919 ratings"

In [71]:
# getting ratings and no. of reveiewers into two separate columns

# Splitting the 'book_rating' column into two parts: 'avg rating' and 'ratings'
df_books[['avg_rating', 'no_of_ratings']] = df_books['book_rating'].str.extract(r'(\d+\.\d+) avg rating — ([\d,]+) ratings')

# Converting 'avg_rating' to float
df_books['avg_rating'] = df_books['avg_rating'].astype(float)

# Converting 'ratings' to integer (after removing commas and handling NaN)
df_books['no_of_ratings'] = df_books['no_of_ratings'].str.replace(',', '')
df_books['no_of_ratings'] = pd.to_numeric(df_books['no_of_ratings'], errors='coerce')

#### Merge this with the original NYT bestsellers list to get a master file and see missing values

In [76]:
# import the NYT raw data 

df_nyt = pd.read_csv('nyt_raw.csv')
df_nyt.shape

(9990, 9)

In [77]:
# new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

df_merged = df_nyt.merge(df_books, left_on=['book','author1'], right_on=['nyt_name','author'], how='left')
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9990 entries, 0 to 9989
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rank             9990 non-null   int64
 1   no_of_weeks      9990 non-null   object
 2   book             9990 non-null   object
 3   author_x         9990 non-null   object
 4   publisher        9990 non-null   object
 5   description      9990 non-null   object
 6   date             9990 non-null   object
 7   author1          9990 non-null   object
 8   author2          698 non-null    object
 9   Unnamed: 0       8845 non-null   float64
 10  nyt_name         8845 non-null   object
 11  good_reads_book  8845 non-null   object
 12  author_y         8845 non-null   object
 13  author_link      8845 non-null   object
 14  book_rating      8845 non-null   object
 15  avg_rating       8844 non-null   float64
 16  no_of_ratings    8844 non-null   float64
dtypes: float64(3), int64(1), object(13)
memory usage: 1.3+ MB

In [78]:
# extract year from the date

df_merged['date']= pd.to_datetime(df_merged['date'])
df_merged['year'] = df_merged['date'].dt.year

In [79]:
df_merged.drop(columns= 'Unnamed: 0', inplace=True)
df_merged.head()

,rank,no_of_weeks,book,author_x,publisher,description,date,author1,author2,nyt_name,good_reads_book,author_y,author_link,book_rating,avg_rating,no_of_ratings,year
0,1,New this week,TICK TOCK,James Patterson and Michael Ledwidge,"Little, Brown",The New York detective Michael Bennett enlists...,2011-02-13,James Patterson,Michael Ledwidge,TICK TOCK,"Tick Tock (Michael Bennett, #4)",James Patterson,https://www.goodreads.com/author/show/3780.Jam...,"4.09 avg rating — 29,129 ratings",4.09,29129.0,2011
1,2,New this week,THE GIRL WITH THE DRAGON TATTOO,Stieg Larsson,Knopf Doubleday,A hacker and a journalist investigate the disa...,2011-02-13,Stieg Larsson,NaN,THE GIRL WITH THE DRAGON TATTOO,"The Girl with the Dragon Tattoo (Millennium, #1)",Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.16 avg rating — 3,108,073 ratings",4.16,3108073.0,2011
2,3,New this week,THE GIRL WHO PLAYED WITH FIRE,Stieg Larsson,Knopf Doubleday,In the second volume of the Millennium trilogy...,2011-02-13,Stieg Larsson,NaN,THE GIRL WHO PLAYED WITH FIRE,"The Girl Who Played with Fire (Millennium, #2)",Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.25 avg rating — 909,723 ratings",4.25,909723.0,2011
3,4,New this week,THE GIRL WHO KICKED THE HORNET’S NEST,Stieg Larsson,Knopf Doubleday,"The third volume of the Millennium trilogy, ab...",2011-02-13,Stieg Larsson,NaN,THE GIRL WHO KICKED THE HORNET’S NEST,The Girl Who Kicked the Hornet's Nest (Millenn...,Stieg Larsson,https://www.goodreads.com/author/show/706255.S...,"4.23 avg rating — 725,317 ratings",4.23,725317.0,2011
4,5,New this week,WATER FOR ELEPHANTS,Sara Gruen,Algonquin,"After his parents die in a car accident, young...",2011-02-13,Sara Gruen,NaN,WATER FOR ELEPHANTS,Water for Elephants,Sara Gruen,https://www.goodreads.com/author/show/24556.Sa...,"4.11 avg rating — 1,586,438 ratings",4.11,1586438.0,2011

#### Get authors information

In [139]:
# get df from author scrape
df_authors = pd.read_csv('aithors_info.csv')

In [81]:
# Remove line breaks and the word 'in' from the 'author_place' column
df_authors['author_place'] = df_authors['author_place'].str.replace('\n', '').str.strip()
df_authors['author_place'] = df_authors['author_place'].str.replace('in ', '', regex=False)
df_authors.head()

df_authors.drop(columns=['Unnamed: 0', 'author_genres'], inplace=True)

In [126]:
df_authors.drop_duplicates(inplace=True)

df_filtered = df_authors[~(df_authors['author_place'] == 'Not available')]

df_filtered.to_csv('author-address.csv')

In [127]:
# import the author addresses with lats and longs (from geolocating.ipynb)

df_addresses = pd.read_csv('gr_author_address.csv')

df_merged_final = df_merged.merge(df_addresses, left_on='author_link', right_on='gr_link', how='left')

In [128]:
df_merged_final.head()

,rank,no_of_weeks,book,author_x,publisher,description,date,author1,author2,nyt_name,...,avg_rating,no_of_ratings,year,Unnamed: 0.1,Unnamed: 0,gr_link,author_place,place,geometry.type,geometry.coordinates
0,1,New this week,TICK TOCK,James Patterson and Michael Ledwidge,"Little, Brown",The New York detective Michael Bennett enlists...,2011-02-13,James Patterson,Michael Ledwidge,TICK TOCK,...,4.09,29129.0,2011,0.0,0.0,https://www.goodreads.com/author/show/3780.Jam...,"Newburgh, New York, The United States","Newburgh, New York, The United States",Point,"[-74.0104178, 41.5034271]"
1,2,New this week,THE GIRL WITH THE DRAGON TATTOO,Stieg Larsson,Knopf Doubleday,A hacker and a journalist investigate the disa...,2011-02-13,Stieg Larsson,NaN,THE GIRL WITH THE DRAGON TATTOO,...,4.16,3108073.0,2011,1.0,1.0,https://www.goodreads.com/author/show/706255.S...,"Skelleftehamn , Sweden","Skelleftehamn , Sweden",Point,"[21.2361263, 64.6861026]"
2,3,New this week,THE GIRL WHO PLAYED WITH FIRE,Stieg Larsson,Knopf Doubleday,In the second volume of the Millennium trilogy...,2011-02-13,Stieg Larsson,NaN,THE GIRL WHO PLAYED WITH FIRE,...,4.25,909723.0,2011,1.0,1.0,https://www.goodreads.com/author/show/706255.S...,"Skelleftehamn , Sweden","Skelleftehamn , Sweden",Point,"[21.2361263, 64.6861026]"
3,4,New this week,THE GIRL WHO KICKED THE HORNET’S NEST,Stieg Larsson,Knopf Doubleday,"The third volume of the Millennium trilogy, ab...",2011-02-13,Stieg Larsson,NaN,THE GIRL WHO KICKED THE HORNET’S NEST,...,4.23,725317.0,2011,1.0,1.0,https://www.goodreads.com/author/show/706255.S...,"Skelleftehamn , Sweden","Skelleftehamn , Sweden",Point,"[21.2361263, 64.6861026]"
4,5,New this week,WATER FOR ELEPHANTS,Sara Gruen,Algonquin,"After his parents die in a car accident, young...",2011-02-13,Sara Gruen,NaN,WATER FOR ELEPHANTS,...,4.11,1586438.0,2011,2.0,4.0,https://www.goodreads.com/author/show/24556.Sa...,"Vancouver, Canada","Vancouver, Canada",Point,"[-123.1207375, 49.2827291]"

In [132]:
df_merged_final = df_merged_final.rename(columns={'author_x': 'authors'})
df_merged_final.drop(columns=['Unnamed: 0.1',  'Unnamed: 0'], inplace=True)
df_merged_final.head()

,rank,no_of_weeks,book,authors,publisher,description,date,author1,author2,nyt_name,good_reads_book,author_link,avg_rating,no_of_ratings,year,author_place,place,geometry.type,geometry.coordinates
0,1,New this week,TICK TOCK,James Patterson and Michael Ledwidge,"Little, Brown",The New York detective Michael Bennett enlists...,2011-02-13,James Patterson,Michael Ledwidge,TICK TOCK,"Tick Tock (Michael Bennett, #4)",https://www.goodreads.com/author/show/3780.Jam...,4.09,29129.0,2011,"Newburgh, New York, The United States","Newburgh, New York, The United States",Point,"[-74.0104178, 41.5034271]"
1,2,New this week,THE GIRL WITH THE DRAGON TATTOO,Stieg Larsson,Knopf Doubleday,A hacker and a journalist investigate the disa...,2011-02-13,Stieg Larsson,NaN,THE GIRL WITH THE DRAGON TATTOO,"The Girl with the Dragon Tattoo (Millennium, #1)",https://www.goodreads.com/author/show/706255.S...,4.16,3108073.0,2011,"Skelleftehamn , Sweden","Skelleftehamn , Sweden",Point,"[21.2361263, 64.6861026]"
2,3,New this week,THE GIRL WHO PLAYED WITH FIRE,Stieg Larsson,Knopf Doubleday,In the second volume of the Millennium trilogy...,2011-02-13,Stieg Larsson,NaN,THE GIRL WHO PLAYED WITH FIRE,"The Girl Who Played with Fire (Millennium, #2)",https://www.goodreads.com/author/show/706255.S...,4.25,909723.0,2011,"Skelleftehamn , Sweden","Skelleftehamn , Sweden",Point,"[21.2361263, 64.6861026]"
3,4,New this week,THE GIRL WHO KICKED THE HORNET’S NEST,Stieg Larsson,Knopf Doubleday,"The third volume of the Millennium trilogy, ab...",2011-02-13,Stieg Larsson,NaN,THE GIRL WHO KICKED THE HORNET’S NEST,The Girl Who Kicked the Hornet's Nest (Millenn...,https://www.goodreads.com/author/show/706255.S...,4.23,725317.0,2011,"Skelleftehamn , Sweden","Skelleftehamn , Sweden",Point,"[21.2361263, 64.6861026]"
4,5,New this week,WATER FOR ELEPHANTS,Sara Gruen,Algonquin,"After his parents die in a car accident, young...",2011-02-13,Sara Gruen,NaN,WATER FOR ELEPHANTS,Water for Elephants,https://www.goodreads.com/author/show/24556.Sa...,4.11,1586438.0,2011,"Vancouver, Canada","Vancouver, Canada",Point,"[-123.1207375, 49.2827291]"

In [133]:
# save this clean data set as a CSV

df_merged_final.to_csv('df_nyt_merged_cleaned.csv')